@charset "utf-8";
@import "bg.css";
@import "clock.css";
@import "file.css";
@import "greetings.css";
@import "settings.css";
@import "todo.css";
/*@import "weather.css";*/

/*root*/
:root {
    --color-black: black;
    --color-gray: gray;
    --color-white: white;
}
/*root*/

/*common*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
    color: var(--color-white);
}

input[type=text] {
    border-bottom: 3px solid gray !important;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-white);
}

.text-center {
    text-align: center;
}

.background-none {
    background: transparent;
    border: none;
}

.d-none {
    display: none;
}
/*common*/

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}

.record {
    display: flex;
}
